a {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #F0F0F5;
    text-decoration: none;
    padding: 7px;
}

.navbar {
    background-image: url("../../assets/Background.svg");
    width: 100%;
    height: 599px;
}

.navbar-item {
    width: 720px;
    height: 341px;
    border-radius: 6px;
}

.navbar-brand {
    width: 50%;
    float: left;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: 7%;
    width: 34%;
    padding-top: 5%;
    float: right;
}

li {
    display: inline;
    text-align: center;
}

li:hover {
    background-color: transparent;
    color: white;
}

li+li {
    margin-left: 38px;
}