p {
    width: 521px;
    height: 64px;
    padding-left: 442px;
    padding-top: 55px;
    font-family: Overpass;
    font-style: normal;
    font-weight: bold;
    font-size: 46px;
    line-height: 64px;
    text-align: center;
    letter-spacing: -1.5px;
    color: #000000;
}

.certificado {
    display: flex;
    justify-content: center;
    align-items: center;
}

.certificado~.certificado {
    padding-left: 60%;
}

div.column {
    width: 50%;
    float: left;
}