<div class="wrapper">
    <img src="../../assets/carregando_caixas.svg" class="ilustracao_caixas">
    <img src="../../assets/consertando.svg" class="ilustracao_concertando">
    <p class="title">Nossos Serviços</p>
    <p class="subtitle">Veja com o que trabalhamos!</p>
    <div class="itens">
        <div class="row">
            <app-itens class="item" icone="antena" titulo="Antenas em geral"></app-itens>
            <app-itens class="item" icone="cerca" titulo="Cerca Elétrica"></app-itens>
            <app-itens class="item" icone="interfone" titulo="Interfones"></app-itens>
        </div>
        <div class="row">
            <app-itens class="item" icone="camera" titulo="Telefonia CFTV"></app-itens>
            <app-itens class="item" icone="portao" titulo="Automatização de portas e portões"></app-itens>
            <app-itens class="item" icone="alarme" titulo="Alarmes"></app-itens>
        </div>
    </div>
</div>