<div class="column">
    <!--img src="../../assets/mapa.png" class="mapa" /-->

    <agm-map [latitude]="lat" [zoom]="zoom" [longitude]="lng" class="mapa">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
    </agm-map>

</div>
<div class="column">
    <p class="cabecalho">Temos nosso escritório</p>
    <div class="row">
        <div id="b">
            <p class="itapoa">Itapoá</p>
            <a href="https://maps.google.com/?q={{lat}},{{lng}}" style="color: transparent;">
                <p class="rua">Rua Leonides Pommer, 1307, Balneário Brasília</p>
            </a>
        </div>
        <div id="d">
            <div class="contato">
                <span class="icone-telefone"></span>
                <div class="telefone-com-nome">
                    <p class="telefone">Telefone</p>
                    <a href="tel:+554734432525" style="color: transparent;">
                        <p class="numero"> (47) 3443-2525</p>
                    </a>
                </div>
            </div>
            <div class="contato">
                <span class="icone-share"></span>
                <div class="telefone-com-nome">
                    <p class="redes-sociais">Redes Sociais</p>
                    <a><span class="icone-facebook" onClick='window.open("https://www.facebook.com/sdzantenas/", "_blank");'></span></a>
                </div>
            </div>

        </div>
        <img src="../../assets/Desenho.svg" class="ilustracao">

    </div>
</div>