<div class="card">
    <p class="texto">“{{texto}}”</p>
    <div class="pessoa">
        <!--span class="icone">
          <p class="nome">{{nome}}</p>
          <p class="profissao">{{profissao}}</p>
        </span-->
        <!--div class="column" style="float: left; width: 23%;">
            <span class="icone"></span>
        </div>
        <div class="column" style="float: right;">
            <p class="nome">{{nome}}</p>
            <p class="profissao">{{profissao}}</p>
        </div-->
        <div id="d">
            <div class="contato">
                <span class="icone"></span>
                <div class="telefone-com-nome">
                    <p class="telefone nome">{{nome}}</p>

                    <p class="numero profissao">{{profissao}}</p>

                </div>
            </div>
        </div>

    </div>
</div>